<section class="bg-custom">
	<h3 class="text-center">My profile</h3> 
	<div class="section-edit">
		<div class="container">
			<div class="row">
				<%= form_for [ @user, @profile] do |f| %>
				<div class="col-lg-12 col-sm-12 ">
					<% if @profile.errors.any? || !@profile.valid? %>
					<div id="error_explanation" class="alert alert-info">
						<p>
							<strong>
								Please fill out the following fields:
							</strong>
						</p>
						<ul>
							<% @profile.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
					<% end %>						
					<div class="row">
						<div class="col-sm-6">
							<div class="personal-details">
								<p class="lead">
									Personal details
								</p>	
								<div id="first-name">
									<label>First Name</label>
									<%= f.text_field :first_name, maxlength: 25, required: 'true'%>
								</div>
								<div id="bio-textarea">
									<label>Last Name</label>
									<%= f.text_field :last_name, maxlength: 20, required: 'true'%>
								</div>							
								<div class="input-with-label text-left">
									<label>Date of birth</label>
									<%= f.text_field :DOB, placeholder: 'DOB', required: 'true' %>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<h5>Gender</h5>
										<div class="col-sm-6">
											<span class="radio">
											<label for="sex">
												<%= f.radio_button :sex, true%>Male
											</label>
										</span>
										</div>
										<div class="col-sm-6">
										<span class="radio">
											<label for="sex">
												<%= f.radio_button :sex, false%>Female
											</label>
										</span>
										</div>
									</div>
								</div>
							</div>	
							<div class="acadmic-details">		
								<p class="lead">
									Acadmic details
								</p>								
								
								<div>
									<label>Branch</label>
									<div class="select-option">
										<%=f.select :branch, options_for_select(@branch.all.collect {|c| [ c.name, c.name ] })%>
									</div>
								</div>
								<div>
									<label>Session</label>
									<div class="select-option">
										<%=f.select :session, options_for_select(@session.all.collect {|c| [ c.year, c.year ] })%>
									</div>
								</div>
								<div>
									<label>Semester</label>
									<div class="select-option">
										<%=f.select :semester, options_for_select(@semester.all.collect {|c| [ c.sem, c.sem ] })%>
									</div>
								</div>
								<div class="input-with-label text-left">
									<label>Eroll no</label>
									<%= f.text_field :eroll_no, placeholder: 'Eroll no', maxlength: 12 , required: 'true'%>
								</div>
								


							</div>
							
						</div>
						<div class="col-sm-6" id="tenant-profile-update">
							
							
							<div>
								<p class="lead">
									Contact details
								</p>	
								<div class="input-with-label text-left">
									<label>Mobile no</label>
									<%= f.text_field :mobile_no, placeholder: 'Mobile no', maxlength: 10 , required: 'true'%>
								</div>
								<div id="bio-textarea">
									<label>Father Name</label>
									<%= f.text_field :father_name, maxlength: 60, placeholder: 'Father Name', required: 'true'%>
								</div> 
								<div id="bio-textarea">
									<label>Father Mobile No.</label>
									<%= f.text_field :father_mobile_no, maxlength: 10, placeholder: 'Father Mobile No.', required: 'true'%>
								</div> 
								<div>
									<label>Permanent Address</label>
									<%= f.text_field :p_address, placeholder: 'Address line 1', maxlength: 30 , required: 'true'%>
									<!-- <p>Characters remaining: <span class='status'></span></p> -->
								</div> 
								<div class="input-with-label text-left">
									<label>City</label>
									<%= f.text_field :p_city, placeholder: 'City' , required: 'true'%>
								</div> 
								<div class="input-with-label text-left">
									<label>State</label>
									<%= f.text_field :p_state, placeholder: 'State', required: 'true' %>
								</div>  
								
								<div class="input-with-label text-left">
									<label>Pin code</label>
									<%= f.text_field :p_pincode, placeholder: 'pincode', required: 'true' %>
								</div> 
								<div>
									<label>Current Address</label>
									<%= f.text_field :c_address, placeholder: 'Current Address', required: 'true' %>
								</div> 
							</div>

							<!--end select-->				
						</div>								
					</div>	
				</div>
				<div class="col-sm-4 col-sm-offset-4 "><input value="Submit" type="submit" class="btn btn-primary btn-xl"></div>

				<% end %>
			</div>
		</div>
	</div>
	<%#= link_to 'View Profile',   tenant_profile_path(id:profile.id)%>
</section>		
<script type="text/javascript">
	    $('#profile_DOB').datepicker({
        format: 'dd-mm-yyyy'   });
	$('#profile_p_address').show_char_limit({ status_element: '.status', status_style: 'chars_left' } );
</script>


	<!-- <div class="mb24">
		<span>Would you like to Susbscribe googleHomes newsletters</span>
		<div class="checkbox-option pull-right">
			<div class="inner"></div>
			<input name="checkbox" value="Checkbox" type="checkbox">
		</div>
	</div> -->